In [1]:
# Question1: Write a code to create a string with your name and print it.

name = "MadhuriVashistha"
print(name)

MadhuriVashistha

In [2]:
# Question2 Write a code to find the length of the string "Hello World".

string = "Hello World"
length = len(string)
print(length)

11

In [3]:
# Question3:  Write a code to slice the first 3 characters from the string "Python Programming".

string = "Data Analyst"
sliced_string = string[:3]
print(sliced_string)

Dat

In [5]:
# Question4: Write a code to convert the string "hello" to uppercase.

string = "hello"
print(string.upper())

HELLO

In [6]:
# Question5: Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [7]:
# Question6: Write a code to create a list with numbers 1 to 5 and print it.

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
# Question7: Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [12]:
# Question8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [14]:
# Question9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [15]:
# Question10: Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [16]:
# Question11: Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [17]:
# Question12: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [18]:
# Question13: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple= (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [19]:
# Question14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [20]:
# Question15: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [21]:
# Question16: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [22]:
# Question17: Write a code to add the element 6 to the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [23]:
# Question18: Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [24]:
# Question19: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [25]:
# Question20: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple= (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3